body {
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
}


* {
    border: 1px solid black;
}

.page-content {
    background-image: url(./images/marc-zimmer-1dNujhlCTYQ-unsplash.jpg);
    height: 100vh;
    background-size: cover;
   
}